body{
	/*background-image: url("mountain.JPG");*/
	background-color: #5599D4;
	margin: 10px;
	margin-bottom: 60px;
	z-index: 0;
}
html{
	position: relative;
  	min-height: 100%;
}
#header{
	max-height: 250px;
	font-family: 'Fontdiner Swanky', cursive;
}
#contact-information{
	font-family: 'Francois One', sans-serif;
}
.section-header{
	font-family: 'Black Ops One', cursive;
}
.project {
    margin: 0 auto;
}
#project-header{
	margin-bottom: 30px;
}
#projects{
	margin-bottom: 100px;
}
#contact-info-btn{
	min-width: 160px;
}
.margin-left{
	margin-left: 14px;
	/*background-color: #d9edf7;*/
	/*background-image: url(../images/mountain.png);*/
}
.project-big{
	margin-bottom: 20px;
}
.footer-link{
	margin-left: 7px;
	margin-top: 2px;
}
.footer-row{
	border-top:groove;
	padding-top: 20px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
  margin-left: -10px;
  
}
.footer-text{
	color: black;
}
.dropdown-menu{
	margin-top: 0px;
}
.font-facebook{
	color: #0066FF;
}
#workExperience{
	/*background-color: #FFFF99;*/
	background-image: url(../images/pipe.JPG);
	background-size: 100% 100%;
	border-radius: 25px;
	background-repeat: no-repeat;
}
